.container-fluid {
    background-color: white;
  }
  
  .styljira {
  
    font-size: 30px;
    color: black;
  }
  .eslicustom{
    margin-left: 3rem;
  }
  
  .stylgit {
  
    color: aliceblue;
    text-decoration: none;
    height: 33px;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    background-color: rgb(75, 75, 185);
    margin-top: 0.5rem;
  
  
  }
  .software1{
    font-size: 30px;
    width: 25rem;
  }
  
  .divfgriprojediv {
  
    color: white;
  }
  
  .stylcolordeiv {
    color: white;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    width: 50%;
  }
  
  .row-stylbac {
    background-color: rgb(24, 24, 70);
    height: 40rem;
    text-align: center;
    display: flex;
    width: 101.4%;
    margin-left: -12px;
  
  
  }
  
  .textmain {
    text-align: start;
  }
  
  .signgooglediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 2rem;
  }
  
  .styldivuili {
  
    color: white;
  
  }
  
  
  .styconsdiv {
    color: white;
    font-size: 1.3rem;
    margin-top: -52px;
    display: flex;
    gap: 5px;
    align-items: center;

  }
  .divtickdiv{
    margin-top: 40px;
  }
  
  .btngoogdiv {
    color: black;
  
    text-decoration: none;
    height: 39px;
    width: 90%;
    border-radius: 3px;
    display: flex;
  
    justify-content: center;
  
    align-items: center;
    color: rgb(66, 82, 110);
    cursor: pointer;
    font-weight: 500;
  
    font-size: 100%;
  
    margin-left: 18px;
    margin-top: 1rem;
    box-shadow: inherit;
  
  }
  
  .btngoogdivs {
    color: aliceblue;
  
    text-decoration: none;
    height: 35px;
    width: 70%;
    border-radius: 3px;
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    cursor: pointer;
    font-weight: 500;
  
    font-size: 100%;
    background-color: rgb(75, 75, 185);
    margin-left: 47px;
    margin-top: 1rem;
    box-shadow: inherit;
  
  }
  
  .Clickingbelow {
    color: black;
    font-size: 11px;
    margin-top: 1rem;
  }
  
  .rodmppdivdiv {
    color: black;
    margin-top: 4.5rem;
    font-weight: bold;
    font-family: fantasy;
    font-size: 26px;
  }
  
  
  .Creditcrddiv {
    color: black;
    margin-top: 1rem;
    margin-left: -3px;
  }
  
  .ContainerModl {
    width: 20rem;
    height: 36rem;
    justify-content: center;
    /* display:flex ; */
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
  }
  
  
  
  .writdiv {
    justify-content: center;
    display: grid;
    background-color: aliceblue;
  }
  
  .imgdivall {
    justify-content: center;
    display: flex;
    margin-top: 1rem;
    height: 20rem;
  }
  
  .divwritediv {
    color: #42526e;
    margin-top: 2rem;
    font-size: 25px;
    font-size: 1.5rem;
    line-height: 1.5;
    width: 80%;
    text-align: center;
    margin-left: 100px;
  }
  
  .divwritescott {
    color: black;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
  }
  
  .divwritescotts {
    color: black;
    justify-content: center;
    display: flex;
  
  }
  
  .imgfugdiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .row-divunfunSet {
    justify-content: center;
    margin-top: 12rem;
    display: flex;
  
  
  }
  
  .unfunkdin {
    margin-left: 10rem;
  }
  
  .divSetupdiv {
    /* margin-left: 10rem; */
  
    width: 12rem;
  }
  
  .divSetupdivs {
    /* margin-left: 10rem; */
  
    width: 15rem;
  
  }
  
  .divimgnextgen {
    margin-top: -5rem;
  
  }
  
  .pic-image4 {
    width: 37rem;
    height: 25rem;
    margin-left: 120px;
  }
  .pic-images4 {
    width: 37rem;
    height: 25rem;
    margin-left: 120px;
  }
  
  .row-imgRodmpdivStayTrack {
    margin-top: 5rem;
    display: flex;
  }
  
  .Staytrackondiv {
    margin-top: 4rem;
    margin-left: 18%;
  }
  
  .ConcptTodiv {
    background-color: rgb(54, 54, 228);
    justify-content: center;
    display: flex;
    height: 15rem;
    margin-top: 5rem;
  }
  
  .getfreediv {
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 33px;
    width: 21%;
    margin-left: 9rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    /* font-size: 100%; */
    background-color: rgb(240, 255, 27);
    /* margin-left: 47px; */
    /* margin-top: 1.5rem; */
    /* box-shadow: inherit; */
}
  
  .imgrodmppdiv {
    width: 35rem;
    height: 25rem;
    margin-left: 5rem;
  }
  
  .jirrdiv {
    color: black;
    margin-top: 3rem;
    margin-left: 13rem;
}
  
  .jirimgdivall {
    width: 38rem;
  }
  
  .landforSigndiv {
    color: black;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    width: 7rem;
    font-weight: inherit;
    margin-top: 1.5rem;
  }
  
  .fillthediv {
    width: 18rem;
    border: ridge;
    height: 25px;
  }
  
  @media only screen and (max-width: 1100px) {
    .divwritediv {
      color: #42526e;
      margin-top: 2rem;
      /* margin-left: 15rem; */
      font-size: 25px;
      /* width: 40rem; */
      font-size: 1.5rem;
      line-height: 1.5;
    }
  
    .row-divunfunSet {
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
      margin-top: 12rem;
      display: flex;
    }
  
  
    .row-imgRodmpdivStayTrack {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media only screen and (max-width:1023px) and (min-width:769px){
    .stylgit {
      color: aliceblue;
      text-decoration: none;
      height: 33px;
      width: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      background-color: rgb(75, 75, 185);
      margin-top: 0.5rem;
  }
  .stylcolordeiv {
    color: white;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 79px;
    width: 100%;
    margin-left: 0rem;
}
  .software1 {
    font-size: 30px;
    width: 18rem;
}
  .pic-image4 {
    width: 39rem;
    height: 26rem;
    margin-left: 65px;
    margin-top: 6rem;
  }
  .unfunkdin {
    margin-left: 2rem;
  }
  .imgrodmppdiv {
    width: 39rem;
    height: 26rem;
    margin-left: 4rem;
  }
  .Staytrackondiv {
    margin-top: 4rem;
    margin-left: 7%;
  }
  .pic-images4 {
    width: 39rem;
    height: 26rem;
    margin-left: 58px;
    margin-top: 7rem;
  }
  .getfreediv {
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 33px;
    width: 18%;
    margin-left: 11rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    /* font-size: 100%; */
    background-color: rgb(240, 255, 27);
    /* margin-left: 47px; */
    /* margin-top: 1.5rem; */
    /* box-shadow: inherit; */
  }
  }
  
  
  
  @media only screen and (max-width: 768px) and (min-width:481px) {
    .stylcolordeiv {
      color: white;
      text-align: center;
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 79px;
      width: 100%;
      margin-left: 1rem;
  }
    .stylgit {
      color: aliceblue;
      text-decoration: none;
      height: 33px;
      width: 19%;
      margin-left: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      background-color: rgb(75, 75, 185);
      margin-top: 0.5rem;
  }
  .eslicustom {
    width: 23rem;
    margin-left: 3rem;
  }
  .jirrdiv {
    color: black;
    margin-top: 3rem;
    margin-left: 15rem;
    margin-left: 122px;
  }
  .jirimgdivall {
    width: 28rem;
  }
  .unfunkdin {
    margin-left: -1rem;
  }
  .divwritediv {
    color: #42526e;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 25px;
    /* width: 40rem; */
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .pic-images4 {
    width: 26rem;
    height: 20rem;
    margin-left: 24px;
    margin-top: 6rem;
  }
  .getfreediv {
    color: rgb(0, 0, 0);
    text-decoration: none;
    height: 33px;
    width: 20%;
    margin-left: 9rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    /* font-size: 100%; */
    background-color: rgb(240, 255, 27);
    /* margin-left: 47px; */
    /* margin-top: 1.5rem; */
    /* box-shadow: inherit; */
  }
    .row-stylbac {
      background-color: rgb(24, 24, 70);
      height: 40rem;
  
      text-align: center;
      display: flex;
      flex-direction: column;
    }
  
    .imgrodmppdiv {
      width: 27rem;
      height: 23rem;
      margin-left: 1rem;
  }
  .Staytrackondiv {
    margin-top: 4rem;
    margin-left: 9%;
  }
  
    .pic-image4 {
      width: 26rem;
      height: 21rem;
      margin-top: 6rem;
      margin-left: 14px;
  }
  
    .row-stylbac {
      background-color: rgb(24, 24, 70);
      height: 40rem;
      text-align: center;
      display: flex;
      height: 100%;
  
    }
  
    
  
    .signgooglediv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .divwritediv {
      color: #42526e;
      margin-top: 2rem;
      /* margin-left: 15rem; */
      font-size: 25px;
      /* width: 40rem; */
      font-size: 1.5rem;
      line-height: 1.5;
    }
  
    .row-divunfunSet {
      /* justify-content: center; */
      align-items: center;
      flex-direction: column;
      margin-top: 12rem;
      display: flex;
    }
  }
    
  
  
  
  
  
  
  @media only screen and (max-width: 480px) and (min-width: 320px) {
    .stylgit {
      color: aliceblue;
      text-decoration: none;
      height: 33px;
      width: 29%;
      margin-left: 12px;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-weight: 500;
      background-color: rgb(75, 75, 185);
      margin-top: 0.5rem;
  }
  .ContainerModl {
    width: 20rem;
    height: 36rem;
    justify-content: center;
    /* display: flex; */
    background-color: white;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin-left: 3rem;
}
  .row-stylbac {
    background-color: rgb(24, 24, 70);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 96vw;
    height: 100%;
  }
  
  .stylcolordeiv {
    color: white;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 100%;
    margin-left: 3rem;
}
.software1 {
  font-size: 30px;
  width: 18rem;
}
  .eslicustom {
    width: 19rem;
    margin-left: 2rem;
  }
  .unfunkdin {
    margin-left: -3rem;
  }
  .jirimgdivall {
    width: 18rem;
    height: 12rem;
  }
  .jirrdiv {
    color: black;
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .divwritediv {
    color: #42526e;
    margin-top: 2rem;
    /* margin-left: 15rem; */
    font-size: 25px;
    /* width: 40rem; */
    font-size: 1.5rem;
    line-height: 1.5;
    margin-left: 42px;
  }
  
  .pic-image4 {
    width: 18rem;
    height: 14rem;
    margin-left: 6px;
  }
  
  .imgrodmppdiv {
    width: 17rem;
    height: 13rem;
    margin-left: 0rem;
  }
  .divSetupdivs {
    /* margin-left: 10rem; */
    width: 17rem;
  }
  .Staytrackondiv {
    margin-top: 4rem;
    margin-left: 35px;
    /* width: 21.5rem; */
  }
  .pic-images4 {
    width: 19rem;
    height: 19rem;
    margin-left: 6px;
    margin-top: 6rem;
  }
  .divlauntimediv{
    margin-left: 1rem;
    color: white;
    margin-top: 4rem;
    width: 15rem;
}
  
  
    .getfreediv {
      color: black;
      background-color: yellow;
      height: 2rem;
      width: 5rem;
      text-align: center;
      font-size: 17px;
      margin-left: 5rem;
    }
   
  }
  
  